:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --main-color: #555555;
  --secondary-color: #303030;
  --third-color: #9da4bd;
  --main-btn-cl: #303030;

  --white-color: #ffffff;
  --hover-color: #ff6c00;
  --main-bg-cl: #111319;
  --accent-color: #ff6c00;
  --card-bg-color: #f7f7f7;
  --barbers-bg-cl: #f7f7f7;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.title {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.link:hover,
.link:focus,
.side-nav .link:hover,
.side-nav .link:focus {
  color: var(--hover-color);
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-btn-cl);
  background-color: transparent;
}

.light-btn {
  color: var(--white-color);
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

.header,
.hero,
.contacts {
  background-color: var(--main-bg-cl);
}

.hero,
.services,
.contacts,
.hero .uppertitle,
.services .uppertitle {
  color: var(--third-color);
}

.hero .title,
.services .title,
.contacts .title {
  color: var(--white-color);
}

/* Header */

.header .link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

/* Hero */

.hero > .title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.side-nav .link,
.hero .light-btn,
.footer-link,
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.side-nav .link {
  letter-spacing: 0.2em;
  color: var(--secondary-color);
}

.hero .light-btn {
  letter-spacing: 0.1em;
}

/* About */

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* Services section */

.services {
  background-color: var(--main-bg-cl);
}

/* Benefits */

.cards {
  color: var(--secondary-color);
}

.card {
  text-align: center;
  background-color: var(--card-bg-color);
}

.card-num {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.card sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-color);
}

.card-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

/* Our barbers */

.barbers {
  background-color: var(--barbers-bg-cl);
}

.barber {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.02em;
}

.barber-accent {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
}

/* Contacts */

.contacts .link {
  color: var(--third-color);
}

/* Footer */

.footer-link {
  color: var(--secondary-color);
}

.copyright {
  color: var(--third-color);
}
