:root {
  /* Fonts */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --main-color: #555555;
  --secondary-color: #303030;
  --third-color: #9da4bd;
  --main-btn-cl: #303030;

  --white-color: #ffffff;
  --hover-color: #ff6c00;
  --main-bg-cl: #111319;
  --accent-color: #ff6c00;
}

body {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

sup {
  color: var(--accent-color);
}

.title {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
}

.uppertitle {
  color: var(--secondary-color);
}

.link {
  text-decoration: none;
  color: var(--white-color);
}

.link:hover,
.link:focus,
.side-nav .link:hover,
.side-nav .link:focus {
  color: var(--hover-color);
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  color: var(--main-btn-cl);
  background-color: transparent;
}

.light-btn {
  color: var(--white-color);
}

.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

.header,
.hero,
.contacts {
  background-color: var(--main-bg-cl);
}

.hero,
.services,
.contacts,
.hero .uppertitle,
.services .uppertitle {
  color: var(--third-color);
}

/* Hero */

.side-nav .link {
  color: var(--secondary-color);
}

/* Services section */

.services {
  background-color: var(--main-bg-cl);
}

/* Benefits */

.cards {
  color: var(--secondary-color);
}

/* Our barbers */

.barber {
  color: var(--secondary-color);
}

.barber-accent {
  color: var(--accent-color);
}

/* Contacts */

.contacts .link {
  color: var(--third-color);
}

/* Footer */

.footer-link {
  color: var(--secondary-color);
}

.copyright {
  color: var(--third-color);
}
